# Web scraping
requests==2.32.4
urllib3==2.5.0
beautifulsoup4==4.13.4

# Data wrangling
pandas==2.3.1
numpy==2.3.2

# Visualization
matplotlib==3.10.5
seaborn==0.13.2

# Statistics
statsmodels==0.14.5

# Machine learning
scikit-learn==1.7.1